body {
    /* border: 5px solid red; */
    background-image: linear-gradient(#6b666e, #2E1437);
    min-height: 100vh;
    height: fit-content;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: scroll;
    background-attachment: fixed;
}

section {
    /* border: 5px solid rgb(0, 255, 21); */
    width: auto;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;


}

.outer_box {
    /* border: 5px solid red; */
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* align-items: center; */

    min-height: 80vh;
    height: fit-content;

    max-width: 60vw;

    margin: 20px;
    border-radius: 30px;
    overflow: hidden;
    background-image: linear-gradient(45deg, #1e130c, #9a8478);
    box-shadow: 0px 0px 30px 5px rgb(255, 136, 0);


}

.comment_input {
    /* border: 2px solid rgb(94, 14, 14); */


    /* border-bottom: 2px solid rgb(94, 14, 14); */
    border-radius: 30px;


    width: auto;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

form {
    /* border: 5px solid rgb(255, 208, 0); */
    padding: 5px;
    width: 50vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

#cmnt {
    /* border-radius: 30px; */
    /* align-items: center; */
    /* overflow: scroll; */
    /* overflow: hidden; */
    /* width: 50vw; */

    height: 90px;
    overflow: scroll;
    background-color: #1e130c67;
    color: white;
    padding: 5px 10px;
    width: 90%;
    font-size: 20px;
    margin: 10px;
}

button {
    /* display: none; */
    /* width: 50vw; */
    height: 50px;
    width: 90%;
    border-radius: 30px;
    background-color: #1e130c67;
    color: white;
    border-color: purple;
    font-size: 20px;


}

button:hover {
    background-color: rgb(58, 37, 68);
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px rgb(145, 145, 145);


}

button[disabled] {
    background-color: inherit;
    border-color: rgb(94, 94, 94);
    color: rgb(94, 94, 94);
    cursor: not-allowed;
}

button[disabled]:hover {
    background-color: inherit;
    color: rgb(94, 94, 94);
    cursor: not-allowed;
    box-shadow: inherit;
}

.comments_sec {
    /* border: 5px solid rgb(231, 235, 0); */

    /* border-top: 2px solid black; */
    /* width: fit-content; */
    /* max-height: 300px; */
    /* height: fit-content; */
    /* display: flex; */

    width: auto;
    min-height: 300px;
    max-height: 60vh;
    overflow: scroll;
    overflow-x: hidden;
}

.all_comments {
    /* border: 5px solid rgb(20, 85, 0); */

    /* width: fit-content; */
    /* width: 100%; */
    /* max-height: 50vh; */
    /* height: 200vh; */
    /* overflow: scroll; */
    /* justify-content: center; */
    /* align-items: center; */

    width: auto;

    height: fit-content;
    display: flex;
    flex-direction: column-reverse;

}

.comment {
    /* border: 2px solid rgb(24, 1, 129); */
    /* width: auto; */
    /* border-radius: 30px; */

    display: flex;
    word-wrap: break-word;
    flex-wrap: wrap;
    overflow: scroll;

    min-height: 60px;
    align-items: center;
    height: fit-content;
    padding: 10px;
    color: white;
    padding: 5px 20px;
    margin: 5px 2px;
    background-image: linear-gradient(90deg, #31015ea2, #505b68af);
    box-shadow: 0px 0px 5px 3px rgb(180, 180, 180);


}

.comment_message {
    font-size: 30px;
}


#wait_mess {
    /* border: 2px solid pink; */
    /* background-color: black; */

    display: none;
    color: white;
    border-radius: 30px;
    padding: 5px 20px;
    width: auto;
    height: fit-content;
    font-size: 30px;
}
textarea{
    box-shadow: 0px 0px 5px 5px rgb(211, 211, 211);
}
textarea:focus{
    box-shadow: 0px 0px 5px 5px rgb(255, 196, 0);
}

#tnx_mess {
    /* border: 2px solid pink; */
    display: none;
    width: auto;
    height: fit-content;
    color: white;
    border-radius: 30px;
    padding: 5px 20px;
    width: auto;
    height: fit-content;
    font-size: 30px;
}





::-webkit-scrollbar {
    /* margin: 0px; */

    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #4e4e4e63;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6fff5c;
}


.heading{
    /* border: 5px solid white; */
    /* border-top:2px solid black ; */
    /* border-radius: 30px; */

    background-color: #44372f77;
    border-bottom:2px solid black ;
    text-align: center;
    padding: 2px;

    box-shadow: 0px 0px 20px 3px rgb(255, 196, 0);
}
.heading p{
    font-size: 30px;
    margin: 0;
    color: white;
}


@media only screen and (max-width: 700px) {

    .outer_box {
        /* width: fit-content; */
        /* padding: 10px; */
        /* height: ; */


        min-width: 95vw;
        margin: 30px 0;
        border-radius: 0px;

        box-shadow: inherit;
    }

    #cmnt {
        height: 60px;
        padding: 5px 10px;
        width: 80vw;
    }

    .comments_sec {

        /* max-height: 350px; */
        /* max-height: 100%; */
        /* height: 100%; */
        /* width: fit-content; */

        /* min-height: 80vh;
        height: fit-content; */
        /* display: flex; */
        /* max-height: 50vh; */
        
        overflow: scroll;
        overflow-x: hidden;

    }

    button {
        height: 40px;
        width: 80vw;
        border-radius: 30px;
        background-color: #1e130c67;
        color: white;


    }

    .comment_message {
        font-size: 20px;
    }

}